{% load static %}

<div class="row mb-4 blog_container p-1 w-100">
    <div class="col-sm-4 col-12">
        <div class="blog_img-container p-2 me-2">
            <img class="img-fluid" src="{{bloglar.image.url}}" alt="{{bloglar.image_seo}}">
        </div>
    </div>
    <div class=" col-sm-8 col-12  p-1">
        <div class="blog-content-container">
            <div class="blog_info">
                <div class="blog_info_kategori">
                    <a  href="{% url 'kategori' bloglar.blogun_kategorisi.slug %}">{{bloglar.blogun_kategorisi}}</a>
                </div>
                <div>
                    <span>{{bloglar.yayimlanma_tarihi}}</span>
                </div>
            </div>
            <div class="blog-header mt-3">
                <a class="blog_header_baslik" href=" {% url 'detay' bloglar.slug %} ">{{bloglar.title}}</a>
            </div>

            <div class="blog_text mt-2 ps-2">
                <span>
                    {{bloglar.description|safe}}
                </span>
            </div>
            <div class="okuma_zamanı mt-2">
                <span class="ms-2 text-muted">Tahmini okuma süresi : <b>1.5dk</b> </span>
            </div>
            <span class="makale_begeni ms-2 mt-2">Makalenin Beğeni Sayısı
                :<b>{{bloglar.begeni}}</b> </span>
            <div class=" author_container  p-2 pe-4">
                <div class="author_content_container mt-sm-3 ms-3">
                    <span> {{bloglar.blogun_yazari.yazar_adi.get_full_name|title}}</span>
                    <span class="text-muted ms-1">
                        {{bloglar.blogun_yazari.yazar_pozisyonu|upper}}</span>
                </div>
            </div>
        </div>
    </div>
</div>