{% load static %}

<div id="navbar_select" class="navigation  ">
    <div class="row justify-content-center align-itemc-center">

        <div class="navigation_search  mt-4">
            <form class="d-flex align-itemc-center justify-content-center" action="#">
                <div class="search_input  row   p-0">
                    <div class="col-10 m-0">
                        <input type="text" placeholder="ARA">
                    </div>
                    <div class="col-2 m-0">
                        <button class="search_btn "><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </form>
            <h2 class=" my-4 ">
                EN ÇOK OKUNAN MAKALELER
            </h2>
            <div class="col-10 mb-2">
                <hr>
            </div>
        </div>
        {% for nav_blogs in nav_blogs  %}
        <div class="nav_blog p-3 mb-3">
            <div class="nav_blog_img">
                <img src="{{nav_blogs.image.url}}" alt="">
            </div>
            <div class="nav_blog_content ms-3">
                <div class="nav_blog_content_title">
                    <a class="" href="{% url 'detay' nav_blogs.slug %}">
                        {{ nav_blogs.title|truncatewords:8 }}
                    </a>
                </div>
                <span class="text-muted my-2">Tahmini Okuma Süresi : <strong>1.2 dk</strong></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>