{% extends 'base.html' %}
{% load static %}

{% block meta_tag %}
    <meta name="description" content="{{ana_sayfa_seo.meta_description}}">
    <meta name="keywords" content="{{ana_sayfa_seo.meta_keywords}}">
    <title>{{ana_sayfa_seo.meta_title}}</title>
{% endblock meta_tag  %}

{% block css_files %}
    <link rel="stylesheet" href=" {% static 'genelsayfalar/css/anasayfa.css' %} ">
{% endblock css_files %}


{% block content %}

    {% include 'genelsayfalar/ana_sayfa/partials/_manset.html' %}

    {% include 'genelsayfalar/ana_sayfa/partials/_genel_bloglar.html' %}

    {% include 'genelsayfalar/ana_sayfa/partials/_youtube.html' %}

    {% for kategorideki_blog in kategorideki_blog %}
        {% include 'genelsayfalar/ana_sayfa/partials/_etiket_bloglari.html' %}
    {% endfor %}

    {% include 'genelsayfalar/kitap_onerileri/partials/_kitap_onerileri.html' %}
{% endblock content %}


{% block js_files %}
<script src=" {% static 'genelsayfalar/js/genel_sayfalar.js' %} "></script>
{% endblock js_files %}