<div class="row">
    <div class="row">
        <div class="col-12 bilim_header_container">
            <i class="fa-solid fa-microscope"></i>
            <div class="bilim_header">
                <h1>BİLİM DÜNYASI</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 d-flex align-items-center justify-content-center border">
        <div class="col-11 border">
            asdas
        </div>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-center justify-content-center border">
        <div class="col-11 border">
            asdas
        </div>
    </div>
</div>