.manset {
    height: 850px;
    background-color: antiquewhite;
    position: relative;

}

.backround_img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.backround_img_filter {
    background-color: black;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;


}

.backround_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.manset_content a {

    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.manset_info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.manset_info_kategori {

    border-right: 2px solid black;
    padding: 2px 0px;

}


.manset_info_kategori a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    padding: 8px 30px;
    margin-right: 15px;

}

.manset_info_kategori+div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

}

.manset_info_kategori+div span {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.manset_text_container {
    width: 70%;

}

.manset_text {
    font-weight: bold;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


/** ipad pro **/
@media only screen and (max-width: 1400px) {}

/** col xl **/


@media only screen and (max-width: 1200px) {}


/** ipad  **/
@media only screen and (max-width: 768px) {

    .manset {
        height: 600px;
    }

    .manset_content a {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 25px;
    }

}

/** mobil  **/
@media only screen and (max-width: 576px) {

    .manset_info_kategori+div span {
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    .manset_info_kategori a {
        font-size: 16px;
        padding: 8px 30px;

    }

}

/** xs mobil  **/

@media only screen and (max-width: 390px) {}

/* !manset style bitti ! */
/* * blog content style başladı* */


.deneme {
    height: 1000px;
    overflow: auto;
    padding: 15px;
}

.blog_container {

    display: flex;
    flex-direction: row;
    border: thin solid black;
}



.blog_img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blog_img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-content-container {
    display: flex;
    flex-direction: column;
}

.blog_info {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.blog_info_kategori a {
    font-size: 15px;
    display: block;
    width: 98%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
    background-color: black;
    text-align: center;
    padding: 5px 30px;

}

.blog_info_kategori {
    padding-right: 5px;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_info_kategori+div {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.blog_info_kategori+div span {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.blog-header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.blog_header_baslik {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog_text span {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
}

.makale_begeni{
    font-size: 20px;
    
}

.author_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.author_content_container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/** ipad pro **/
@media only screen and (max-width: 1400px) {
    .blog-header a {

        font-size: 25px;
    }

    .blog_header_baslik {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .blog_img-container img {
        width: 250px;
        height: 250px;
    }

}

/** col xl **/


@media only screen and (max-width: 1200px) {
    .genel_navigation_none {
        display: none;
    }

    .okuma_zamanı span {
        font-size: 14px;

    }
}


/** ipad  **/
@media only screen and (max-width: 769px) {
    .blog-header a {

        font-size: 20px;
    }

    .blog_info {
        width: 75%;
    }

    .author_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .author_image_container {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;


    }

    .author_content-container {
        display: flex;
        flex-direction: row;
    }

    .blog_like_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .blog_img-container img {
        width: 250px;
        height: 250px;
    }

    .author_content-container span:nth-child(1) {
        font-size: 15px;
    }

    .author_content-container span:nth-child(2) {
        font-size: 15px;
    }




}

/** mobil  **/
@media only screen and (max-width: 576px) {

    .blog_container {
        display: flex;
        flex-direction: column;

    }

    .blog_header_baslik {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .blog_img-container img {
        width: 100%;
        height: 250px;
    }

    .blog_text {
        display: block;
    }

    .blog_info {
        width: 100%;
    }

    .blog_like_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .author_container {
        display: flex;
        justify-content: center;
        padding: 10px;

    }

    .author_image_container {
        display: none;

    }

    .author_content-container {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-start;

    }

    .author_content-container span:nth-child(1)::after {

        content: " /  ";
    }

    .author_content-container span:nth-child(2) {
        font-size: 12px;
    }

    .author_content-container span:nth-child(1) {
        font-size: 12px;
    }
}


/** xs mobil  **/

@media only screen and (max-width: 390px) {}




/* ! blog content style bitti! */

/* *genel navigation başladı*   */

.nav_blog{
    border: thin solid black;
    display: flex;
}
.nav_blog_img{
    min-width: 90px;
    height: 90px;
}
.nav_blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* .nav_blog_content{


} */

.nav_blog_content_title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap:break-word;
}

.nav_blog_content_title a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
}
@media only screen and (max-width: 1800px) {

}

@media only screen and (max-width: 1650px) {

}

/** ipad pro **/
@media only screen and (max-width: 1400px) {

}

/** ipad pro **/
@media only screen and (max-width: 1200px) {
.nav_blog_container{
    display: none;
}

}




/* !genel navigation bitti!   */

/* *youtube başladı* */

.youtube_header {
    display: flex;
    align-items: center;

}

.youtube_header>i {
    font-size: 40px;
    color: #c4302b;
    margin-right: 10px;
}

.youtube_img_container {

    width: 300px;
    height: 300px;
    overflow: hidden;
}

.youtube_img_container img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.youtube_content_container {
    height: 480px;
    max-width: 450px;
    padding: 15px;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.youtube_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    border-bottom: thin solid black;


}

.info_container a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 3px 30px;
    margin-right: 5px;


}

.youtube_info_time {
    padding: 0px 8px;
    border-left: 2px solid black;

}

.youtube_info_time span {
    font-size: 12px;
    font-weight: bold;


}

.youtube_link a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


/** ipad pro **/
@media only screen and (max-width: 1400px) {}

/** col xl **/


@media only screen and (max-width: 1200px) {
    /* 
    .youtube_img_container{

        width: 250px;
        height: 250px;
        overflow: hidden;
    }
     */


}


/** ipad  **/
@media only screen and (max-width: 769px) {
    .youtube_img_container {

        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .info_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .youtube_info_time {
        border: none;
        margin-top: 10px;
    }
}


/** mobil  **/
@media only screen and (max-width: 576px) {}


/** xs mobil  **/

@media only screen and (max-width: 390px) {}

/* !youtube slider bitti ! */

/*  *etiket bloglari başladı* */

.etiket_header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 75%;
}

.etiket_header_container i {
    margin-right: 10px;
    font-size: 40px;
    color: #007880;
}

.etiket_header h1 {
    padding-top: 5px;
}



/* *kitap önerileri başladı* */

.kitap_onerileri_link {
    width: 100%;
}

.kitap_onerileri_link a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.youtube_content_container {
    height: 480px;
    max-width: 450px;
    padding: 15px;
    border: thin solid black;
    display: flex;
    flex-direction: column;


}
