<footer>
    <div class="container p-2 h-100">
        <div class="col-12 mt-4">
            <div class="logo ms-3">
                <img src="{{site_ayar.logo.url}}" alt="">
                <span class="display-5 ms-1 text-white">{{site_ayar.logo_yazi|safe}}</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center  ">
                <div class="menu_items footer_kategoriler p-4  w-75">
                    <h3>KATAGORİLER</h3>
                    <ul id="navbar_item" class="navbar-nav footer_kategori_item ms-3 my-2 mb-lg-0">
                        {% for kategori in kategori  %}
                        <li class="nav-item">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            <a  target="_blank" href=" {% url 'kategori' kategori.slug %} ">{{kategori.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="footer_social_container mt-4">
                    <div class="footer_social ">
                        <a  target="_blank" href="{{footer_kontrol.facebook}}">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="footer_social ">
                        <a  target="_blank" href="{{footer_kontrol.twitter}}">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>

                    <div class="footer_social ">
                        <a  target="_blank" href="{{footer_kontrol.instagram}}">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer_social">
                        <a  target="_blank" href="{{footer_kontrol.youtube}}">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12  p-4  mt-lg-4 footer_aciklama ">
                <div class="row mt-5 haber_bulteni">
                    <h3>HABER BÜLTENİMİZE ABONE OLUN</h3>

                    <form>
                        <div class="haber_bulteni_input mt-4">
                            <input type="email" class="form-control " id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <button type="submit" class="btn btn-outline-light ms-3">Gönder</button>
                        </div>
                    </form>

                </div>
                <h3 class="mt-5">{{footer_kontrol.footer_header}}</h3>

                <div class="mt-4">
                    {{footer_kontrol.footer_text|safe}}
                </div>
                <a  target="_blank" href="{{footer_control.footer_link}}">
                    {{footer_kontrol.footer_link_text}}
                </a>

            </div>

        </div>

  
        <div class="footer_size_description">
            <span>{{footer_kontrol.alt_bilgi}}</span>
        </div>
    
    </div>
</footer>