{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href=" {% static 'genelsayfalar/css/blog_detay.css' %} ">
    <link rel="stylesheet" href=" {% static 'genelsayfalar/css/anasayfa.css' %} ">
{% endblock css_files %}

{% block content %}

<div class="col-9 mx-auto">
    <div class=" detay_container container-fluid   ">
        <div class="row">
            <div class="col-xl-8 col-12 me-auto p-3">
                {% include "genelsayfalar/blog_detay/partials/_blog_content.html" %}

            </div> 
            <div class="col-4 p-3">
                {% include "genelsayfalar/blog_detay/partials/_blog_navigation.html" %}
            </div>
        </div>
    </div>


</div>
























{% endblock  %}
{% block js_files %}
<script src=" {% static 'genelsayfalar/js/blog_detay.js' %} "></script>
{% endblock js_files %}