{% load static %}
<div class="container-fluid my-5">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="row mb-5">
                <div class="col-12 biyoloji_header_container">
                    <i class="fa-solid fa-frog"></i>
                    <div class="biyoloji_header">
                        <h1>GENETİK</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for genetik in genetik_blog %}
                <div class=" col-lg-4 col-md-6 col-12 mb-4 genetik_card_container">
                    <div class="card ">
                        <div class="genetk_image_container">
                            <img src="{{genetik.image.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <a class="card-title display-5 blog_header_baslik ">{{genetik.title}}</a>
                            <div class="okuma_suresi my-2">
                                <span> <strong>Tahmini okunma süresi:</strong> 1.21</span>
                            </div>
                            <div class="card-text text-muted ms-2">
                                {{genetik.description|safe}}
                            </div>
                            <div class="genetic_info mt-3">
                                <div class="genetik_yazar">
                                    <span> <strong class="me-2">{{genetik.blogun_yazari.yazar_adi.get_full_name|title}}</strong>{{genetik.blogun_yazari.yazar_pozisyonu|title}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>